:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #feb434, #fffc41);
    --vp-c-brand: var(--vp-c-yellow);
    --vp-c-brand-light: var(--vp-c-yellow-light);
    --vp-c-brand-lighter: var(--vp-c-yellow-lighter);
    --vp-c-brand-dark: var(--vp-c-yellow-dark);
    --vp-c-brand-darker: var(--vp-c-yellow-darker);
}